28-04/task_1/g.txt
10-05/task_7/visit_stat2.txt
28-04/task_3/g3.txt
01-05/task_1/nums-1-or-2.txt
01-05/task_2/nums-common.txt
01-05/task_5/phones.csv
01-05/task_3/nums-first.txt
01-05/task_4/nums-unique.txt
